.cards__like-button {
  width: 22px;
  height: 19px;
  margin-left: auto;
  background-color: transparent;
  border: none;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  cursor: pointer;
  background-image: url('../../../images/hart-disabled.svg');
}

 .cards__like-button:hover {
  opacity: 0.5;
}

.cards__like-button:active {
  opacity: 1;
  background-image: url('../../../images/hart-active.svg');
}