.cards__delete-button {
  width: 18px;
  height: 19px;
  margin-left: auto;
  background-color: transparent;
  border: 0;
  background-image: url('../../../images/trash.svg');
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  cursor: pointer;
  outline: none;
  position: absolute;
  top: 18px;
  right: 15px;
}

.cards__delete-button:hover {
  background-image: url('../../../images/trash-hover.svg');
}

/* .cards__delete-button:active {
  background-image: url('../../../images/hart-active.svg');
} */